@import "tailwindcss";


:root {
  /* Light Mode */
  --background: hsl(52.94, 73.91%, 90.98%);
  --foreground: hsl(0.00, 0.00%, 15.69%);

  --green:hsl(57.20, 79.26%, 26.47%);
  --green-muted: hsl(59.52, 70.79%, 34.90%);
  --red: hsl(357.71, 100.00%, 30.78%);
  --red-muted: hsl(2.40, 75.11%, 45.69%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: hsl(195.00, 6.45%, 12.16%);
  --foreground: hsl(48.46, 86.67%, 88.24%);

  --green:hsl(61.21, 66.22%, 44.12%);
  --green-muted: hsl(59.52, 70.79%, 34.90%);
  --red: hsl(6.33, 96.14%, 59.41%);
  --red-muted: hsl(2.40, 75.11%, 45.69%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
